<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <% include ./partials/_header %>
    <a href="/urls/new">Create New TinyURL</a>
    <h4>My URLs</h4>
    <table>
        <% for(var key in urls){%>
         <% console.log('can I do this') %>
         <%  console.log(urls[key]['longURL']) %>   
        <tr class="d-flex">
            <td class="col-9"><%= key %> - <a href=<%= urls[key]['longURL'] %> target="_blank"><%= urls[key]['longURL'] %></a></td>
            <td class="col-2"><a href="/urls/<%= key %>"> <u>Edit</u></a></td>
            <form method="POST" action="/urls/<%=key%>/delete">
              <!--   <td class="col-2"><buttton type="submit" class="btn btn-primary">Delete</td></buttom>
                <td class="col-2"><button type="button" class="btn btn-primary">Delete</button></td>    -->
                <td class="col-4"><input type="submit" class="btn btn-outline-primary btn-sm" value='Delete' </td> 
            </form>

        </tr>
        <% }%>
    </table>
    <!--
      <a href="">short url%></a>
     -->
</body>

</html>